*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css  */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* main css */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    padding-top: 30px;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.menu li a{
    text-decoration: none;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.logo-color{
    color: #FD6E0A;
}
