*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css  */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    background-image: url(../Images/developer.png), url(../Images/header_bg.png);
 
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
/* main css */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    padding-top: 30px;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.menu li a{
    text-decoration: none;
    color: #757575;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.logo-color{
    color: #FD6E0A;
}

#banner{
    
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
    
}
.banner-content h1{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
    
}
